body {
    text-align: center;
    background: #111;
    color: white;
    font-family: Arial;
}

canvas {
    background: black;
    display: block;
    margin: 10px auto;
}

button {
    padding: 10px;
    margin: 5px;
}
